body{
	margin:0px;
	background-color:#456;
}

#auth{
	width:230px;
	margin-top:10%;
	margin-left:40%;
	padding:10px;
	border-radius:10px;
	border-color:#fff;
	border-style:solid;
	border-width:2px;
}
#auth div{
	padding:10px 15px;
	height:10px;
}

#nameError{
	color:#1E90FF;
	font-size:1em;
	text-transform:uppercase;
	font-family: 'Courier New', Courier, monospace;
	font-size:14px;
}

input{
	height:20px;
	border:0px;
	padding:0px;
	width: 100%;
	text-align:center;
}