body{
	margin:0px;
	background-color:#456;
}

#menu{
	width:230px;
	margin-top:10%;
	margin-left:40%;
	padding:10px;
	border-radius:10px;
	border-color:#fff;
	border-style:solid;
	border-width:2px;
}

ul{
	margin:0px;
	padding:0px;
	list-style:none;
}

li a{
	font-family: 'Courier New', Courier, monospace;
	color:#fff;
	border-radius:10px;
	display:block;
	padding:10px;
	text-transform:uppercase;
	text-decoration:none;
}

li a:hover{
	background:#1E90FF;
}



